.brand{  
    background-color: $light-pink;
    margin: 0 0 65px 0;
    
    &__img{
        width: 750px;
        height: 750px;
    }

    &__title{
        @include font(48px, 58px, 900);
        text-transform: uppercase;
        display: block;
        position: relative;
        height: 93px;
        
        &-wrp{
            flex-grow: 1;
            padding: 0 0 0 45px;
            display: flex;
            align-items: center;
            width: 377px;
        }
        
        &:before{
            content: '';
            width: 12px;
            height: 92px;
            position: absolute;
            background-color: $dark-pink;
            left: -28px;
            top: 5px;
        }
    }
}

.brand__sub-title{
    display: block;
    @include font(37px, 44px, 700);
}

.pink-color{
    color: $dark-pink;
}

@media (max-width: $descktop-width){
    .brand{
        &__img{
            width: 385px;
            height: 385px;
        }

        &__title{
            @include font(44px, 37px, 700);
            &-wrp{
                width: 350px;
            }

            &::before{
                top: -3px;
            }
        }
    }

    .brand__sub-title{
        @include font(29px, 24px, 700);
    }
}

@media(max-width: $tablet-width){
    .brand{
        height: 363px;
        @include flex-center;

        &__img{
            display: none;
        }

        &__title{
            @include font(37px, 31px, 700);
            position: absolute;
            right: 0;

            &-wrp{
                padding: 0 0 0 0;
                width: 342px;
            }

            &::before{
                height: 61px;
                top: -5px;
            }
        }
    }

    .brand__sub-title{
        @include font(24px, 20px, 700);
    }
}