.catalog__title{
    @include font(30px, 36px, 400);
    text-align: center;
    margin: 96px 0 6px 0;
}

.catalog__text{
    color: #9F9F9F;
    text-align: center;
    margin: 0 0 48px 0;
}

.catalog__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item{
    height: 580px;
    width: 360px;
    margin: 30px 0 0 0;
    background-color: $white;
    position: relative;

    &-title{
        color: #000000;
        text-transform: uppercase;
        margin: 25px 0 13px 18px;
    }
    
    &-text{
        @include font(14px, 17px, 300);
        margin: 0 0 18px 16px;
    }
    
    &-prise{
        @include font(16px, 19px, 400);
        margin: 0 0 20px 17px;
    }
    
    &-wrp{
        width: 360px;
        height: 420px;
        background-color: $hover-black;
        position: absolute;
        top: 0;
        opacity: 86%;
        @include flex-center;
        visibility: hidden;
    }
    
    &-btn{
        border: 1px solid white;
        background-color:transparent;
        color: white;
        width: 138px;
        height: 43px;
        @include flex-center;
    }
    
    &-ico{
        width: 26px;
        height: 24px;
        border:none;
        border-color: transparent;
        margin: 0 11px 0 0;
    }
}

.catalog__item:hover .catalog__item-wrp{
    visibility: visible;
}

.btn{
    @include flex-center;
}

.catalog__but{
    width: 210px;
    height: 50px;
    border: 1px solid $dark-pink;
    background-color: transparent;
    margin: 48.5px 0 95.5px 0;

    &:hover{
        background-color: $dark-pink;
        color: white;
    }
}

@media(max-width: $tablet-width){
    .catalog__item{
        margin: 15px 0 0 0;
        max-width: 342px;

        &-img{
            max-width: 342px;
        }
    }
}