.header{
    background-color: $black;

    &__wrp{
        display: flex;
        justify-content: space-between;
        align-items:center;
        min-height: 75px;
    }
    
    &__list{
        display: flex;
    }
    
    &__logo{
        margin: 0 41px 0 0;
    }
    
    &__button{
        border: none;
        background-color: transparent;
        margin: 4px 0 0 0;
        display: block;

        &:focus + .header__nav{
            display: block;
        }

        &:focus ~ .brand__title-wrp{
            padding: 0 0 0 80px;
        }
    }
    
    &__link{
        margin: 0 0 0 34px;
    }

    &__item{
        position: relative;

        &-btn{
            position: relative;
        }
    }
    
    &__nav{
        position: absolute;
        width: 232px;
        height: 750px;
        right: -288px;
        margin: 22px 0 0 0;
        background: white;
        display: none;
        -webkit-box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.33);
        -moz-box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.33);
        box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.33);

        &-list{
            padding: 40px 0 0 35px;
            margin: 0;
        }

        &:hover{
            display: block;
        }

    }

    &__title{
        @include font(14px, 17px, 700);
        text-transform: uppercase;
        margin: 37px 0 0 34px;
    }
}

.nav-sub-item{
    text-decoration: none;

    &__title{
        color: $dark-pink;
        text-transform: uppercase;
        @include font(14px, 17px 400);
        margin: 37px 0 0 0px;
    }

    &__item{
        color: #6F6E6E;
        @include font(17px, 14px 400);
        margin: 12px 0 12px 22px;
    }
}
.wrp {
    width: 100%;
    height: 100px;
    display: none;
}

.display-block {
    display: block;
}

@media(max-width: $tablet-width){
    .header{
        &__item{
            display: none;
        }

        &__link{
            margin: 0;
        }

        &__button{
            &:focus ~ .brand__title-wrp{
                padding: 0 0 0 0;
            }
        }

        &__nav{
            right: 0;
            z-index: 1;
        }
    }
}